@model WebAdmin.ViewModels.VentasViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link rel="stylesheet" href="~/css/site.css" />
}
<style>
    .invoice-box {
        max-width: 800px;
        margin: auto;
        padding: 5px;
        border: 1px solid #eee;

        font-size: 14px;
        line-height: 15px;
        font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
        color: #555;
    }

    .invoice-box table {
        width: 100%;
        line-height: inherit;
        text-align: left;
        border-collapse: collapse;
    }

    .invoice-box table td {
        padding: 10px;
        vertical-align: top;
    }

    .invoice-box table tr td:nth-child(2) {
        text-align: right;
    }

    .invoice-box table tr.top table td {
        padding-bottom: 10px;
    }

    .invoice-box table tr.top table td.title {
        font-size: 45px;
        line-height: 20px;
        color: #333;
    }

    .invoice-box table tr.information table td {
        padding-bottom: 10px;
    }

    .invoice-box table tr.heading td {
        background: #eee;
        border-bottom: 1px solid #ddd;
        font-weight: bold;
    }

    .invoice-box table tr.details td {
        padding-bottom: 10px;
    }

    .invoice-box table tr.item td {
        border-bottom: 1px solid #eee;
    }

    .invoice-box table tr.item.last td {
        border-bottom: none;
    }

    .invoice-box table tr.total td:nth-child(2) {
        border-top: 2px solid #eee;
        font-weight: bold;
    }
</style>

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Administración /</span> Usuario</h4>
    <!-- Basic with Icons -->
    <div class="col-xxl">
        <div class="card mb-8">
            <div class="card-header d-flex align-items-center justify-content-between">
            </div>
            <div class="card-body">
                <input type="hidden" id="f_periodo" />
                <div class="row">
                    <div class="mb-3 col-md-3">
                        <label for="TblVentas.IdTipoVenta" class="form-label" asp-for="TblVentas.IdTipoVenta"></label>
                        <div class="input-group input-group-merge">
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-fullname2" class="input-group-text">
                                    <i class="bx bx-check-shield">
                                    </i>
                                </span>
                                <select id="l_tipo_venta" class="form-select" required asp-for="TblVentas.IdTipoVenta"
                                    oninvalid="this.setCustomValidity('Campo Requerido')"
                                    onchange="this.setCustomValidity('')" required
                                    asp-items="@(new SelectList(ViewBag.ListaTipoVenta, "IdTipoVenta", "TipoVentaDesc"))">
                                    <option value="">SELECCIONAR</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 col-md-6">
                        <label for="TblVentas.IdCliente" class="form-label" asp-for="TblVentas.IdCliente"></label>
                        <div class="input-group input-group-merge">
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-fullname2" class="input-group-text">
                                    <i class="bx bx-check-shield">
                                    </i>
                                </span>
                                <select id="l_alumno" class="form-select" required asp-for="TblVentas.IdCliente"
                                    oninvalid="this.setCustomValidity('Campo Requerido')"
                                    onchange="this.setCustomValidity('')" required
                                    asp-items="@(new SelectList(ViewBag.ListaUsuariosCentros, "IdUsuario", "NombreUsuario"))">
                                    <option value="">SELECCIONAR</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 col-md-2">
                        <label class="form-label"> Descuento</label>
                        <div class="input-group input-group-merge">
                            <span id="2" class="input-group-text">
                                <i class="bx bx-check-shield"></i>
                            </span>
                            <input id="iDescuento" style="text-transform:uppercase" type="number" class="form-control"
                                id="" min="0" max="100" value="0" aria-label="John Doe" aria-describedby="2" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label class="form-label" asp-for="@Model.RelVentaProductos[0].TipoServicio"></label>
                        <div class="input-group input-group-merge">
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-fullname2" class="input-group-text">
                                    <i class="bx bx-check-shield">
                                    </i>
                                </span>
                                <select id="l_tipo_servicios" class="form-select"
                                    oninvalid="this.setCustomValidity('Campo Requerido')"
                                    onchange="this.setCustomValidity('')" required
                                    asp-items="@(new SelectList(ViewBag.ListaTipoServicio, "IdTipoServicio", "TipoServicioDesc"))">
                                    <option value="">SELECCIONAR</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 col-md-8">
                        <label class="form-label" asp-for="@Model.RelVentaProductos[0].Servicio"></label>
                        <div class="input-group input-group-merge">
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-fullname2" class="input-group-text">
                                    <i class="bx bx-check-shield">
                                    </i>
                                </span>
                                <select id="l_servicios" class="form-select" required
                                    asp-for="@Model.RelVentaProductos[0].Servicio"
                                    oninvalid="this.setCustomValidity('Campo Requerido')"
                                    onchange="this.setCustomValidity('')" required>
                                    <option value="">SELECCIONAR</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <!-- Main content -->
                        <div class="invoice p-3 mb-3">
                            <!-- Table row -->
                            <div class="row">
                                <div class="col-12 table-responsive">
                                    <table class="table" id="tbProducto">
                                        <tbody>
                                            <thead>
                                                <th style="text-align:center">
                                                    TIPO SERVICIO
                                                </th>
                                                <th style="text-align:center">
                                                    SERVICIO
                                                </th>
                                                <th style="text-align:center">
                                                    DESCUENTO
                                                </th>
                                                <th style="text-align:center">
                                                    PRECIO
                                                </th>
                                                <th style="text-align:center">
                                                    TOTAL
                                                </th>
                                                <th style="text-align:center">ACCIONES</th>
                                            </thead>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                            <!-- /.row -->
                            <!-- this row will not appear when printing -->
                        </div>
                        <!-- /.invoice -->
                    </div><!-- /.col -->
                </div>
                <div class="row">
                    <!-- accepted payments column -->
                    <div class="col-6">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">TIPO PAGO</label>
                                    <select id="l_tipo_pago" class="form-select"
                                        oninvalid="this.setCustomValidity('Campo Requerido')"
                                        onchange="this.setCustomValidity('')" required
                                        asp-items="@(new SelectList(ViewBag.ListaTipoPago, "IdTipoPago", "TipoPagoDesc"))">
                                        <option value="">SELECCIONAR</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" id="lFechaAlterna">
                                    <label class="control-label">FECHA DE PAGO ALTERNA</label>
                                    <input type="date" id="i_fecha_alterna_pago" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group" id="lCodigoPago" hidden>
                                    <label class="control-label">CODIGO PAGO</label>
                                    <input id="i_codigo_pago" class="form-control" required />
                                </div>
                            </div>
                            <div class="col-md-6">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">PAGO</label>
                                    <input type="number" id="i_pago_monto" class="form-control" value="0" required />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">DIFERENCIA</label>
                                    <input id="i_pago_diferencia" class="form-control" value="0" readonly />
                                </div>
                            </div>


                        </div>
                        <br />

                    </div>
                    <!-- /.col -->
                    <div class="col-6">
                        <div class="table-responsive">
                            <table class="table">
                                <tr>
                                    <th>Total:</th>
                                    <td>
                                        <label id="l_total_venta"></label>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-10">
                        <br>

                        <a id="btnTerminar" class="btn btn-success">
                            <span>Guardar</span>

                        </a>
                        <a asp-action="Index" class="btn btn-secondary">Regresar</a>
                        <button class="btn btn-info" id="btnPrint" hidden>Imprimir</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalVentas" aria-labelledby="modalVentasLabel" tabindex="-1" style="display: none"
    aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalVentasLabel">
                    La venta se ha registrado con exito ¿deseas imprimir la
                    nota de venta?
                </h5>
                <input type="hidden" id="i_FolioVenta" />
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                                <div class="invoice-box" id="invocieContainer" style="height:297mm;width:210mm;">
                    <table>
                        <tr class="top">
                            <td colspan="2">
                                <table>
                                    <tr>
                                        <td class="title">
                                            <img src="~/assets/img/logo-azul-c.png" alt="Intelimundo"
                                                style="width: 128px; max-width: 128px" />
                                        </td>
                                        <td>
                                            <label id="l_NumVenta"></label><br />
                                            <label id="l_FechaCreacionVenta"></label><br />
                                            <label id="l_FechaAlternaVenta"></label><br />
                                            <label id="l_UsuarioVenta"></label>
                                            <label id="l_UsuarioContactoVenta"></label>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>
                                            <label id="l_CorporativoVenta"></label><br />
                                            <label id="l_DatosCorporativoVenta"></label><br />
                                            <label id="l_DatosCorporativoVentaAlt"></label><br />
                                            <label id="l_DatosCorporativoContactoVenta"></label><br />
                                        </td>
                                        <td>
                                            <label id="l_CentroVenta"></label><br />
                                            <label id="l_DatosCentroVenta"></label><br />
                                            <label id="l_DatosCentroVentaAlt"></label><br />
                                            <label id="l_DatosCentroContactoVenta"></label><br />
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        </tr>
                        <tr class="information">
                            <td colspan="2">
                                <table>
                                    <tr>
                                        <td>
                                            <label id="l_ClienteVenta"></label><br />
                                        </td>
                                        <td>
                                            <label id="v_tipo_venta"></label>
                                            <label id="v_forma_pago"></label>
                                            <label id="v_codigo_referencia"></label>
                                            <label id="v_perido"></label>
                                            <p><span class="text-muted fw-light">Intelimundo /</span>Contabilidad</p>
                                        </td>
                                    </tr>

                                </table>
                            </td>
                        </tr>
                    </table>
                    <table class="table" id="tbProductoA">
                        <tbody>
                            <thead>
                                <th style="text-align:center">
                                    TIPO SERVICIO
                                </th>
                                <th style="text-align:center">
                                    SERVICIO
                                </th>
                                <th style="text-align:center">
                                    DESCUENTO
                                </th>
                                <th style="text-align:center">
                                    PRECIO
                                </th>
                                <th style="text-align:center">
                                    TOTAL
                                </th>
                            </thead>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-6">
                            <div class="table-responsive">
                                <table class="table">
                                    <tr>
                                        <th><label id="v_total_venta"></label></th>
                                        <td>

                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <table>
                        <tr class="top">
                            <td colspan="2">
                                <table>
                                    <tr>
                                        <td class="title">
                                            <img src="~/assets/img/logo-azul-c.png" alt="Intelimundo"
                                                style="width: 128px; max-width: 128px" />
                                        </td>
                                        <td>
                                            <label id="dl_NumVenta"></label><br />
                                            <label id="dl_FechaCreacionVenta"></label><br />
                                            <label id="dl_FechaAlternaVenta"></label><br />
                                            <label id="dl_UsuarioVenta"></label>
                                            <label id="dl_UsuarioContactoVenta"></label>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>
                                            <label id="dl_CorporativoVenta"></label><br />
                                            <label id="dl_DatosCorporativoVenta"></label><br />
                                            <label id="dl_DatosCorporativoVentaAlt"></label><br />
                                            <label id="dl_DatosCorporativoContactoVenta"></label><br />
                                        </td>
                                        <td>
                                            <label id="dl_CentroVenta"></label><br />
                                            <label id="dl_DatosCentroVenta"></label><br />
                                            <label id="dl_DatosCentroVentaAlt"></label><br />
                                            <label id="dl_DatosCentroContactoVenta"></label><br />
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr class="information">
                            <td colspan="2">
                                <table>
                                    <tr>
                                        <td>
                                            <label id="dl_ClienteVenta"></label><br />
                                        </td>
                                        <td>
                                            <label id="dv_tipo_venta"></label>
                                            <label id="dv_forma_pago"></label>
                                            <label id="dv_codigo_referencia"></label>
                                            <label id="dv_perido"></label>
                                            <p><span class="text-muted fw-light">Intelimundo /</span>Colaborador</p>
                                        </td>
                                    </tr>

                                </table>
                            </td>
                        </tr>

                    </table>
                    <table class="table" id="tbProductoB">
                        <tbody>
                            <thead>
                                <th style="text-align:center">
                                    TIPO SERVICIO
                                </th>
                                <th style="text-align:center">
                                    SERVICIO
                                </th>
                                <th style="text-align:center">
                                    DESCUENTO
                                </th>
                                <th style="text-align:center">
                                    PRECIO
                                </th>
                                <th style="text-align:center">
                                    TOTAL
                                </th>
                            </thead>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-6">
                            <div class="table-responsive">
                                <table class="table">
                                    <tr>
                                        <th><label id="dv_total_venta"></label></th>
                                        <td>

                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <form class="form-inline">
                    <button type="submit" class="btn btn-danger">Cerrar sesión</button>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
@{
await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
<script>
    const formatter = new Intl.NumberFormat('en-US', {
        style: 'currency',
        currency: 'USD',
        minimumFractionDigits: 2
    })
    $(document).ready(function () {
        const d1 = new Date();
        const GeneraFolio = d1.getTime();
        document.getElementById("i_FolioVenta").value = "iV-" + GeneraFolio;

        $.ajax({
            type: "GET",
            url: "/TblCorporativoes/fDatosCorporativo/",
            data: {},
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (list) {
                if (list.length == 0) {
                }
                else {
                    document.getElementById('l_NumVenta').innerHTML = '# Venta: ' + "iV-" + GeneraFolio;
                    document.getElementById('dl_NumVenta').innerHTML = '# Venta: ' + "iV-" + GeneraFolio;

                    const dateObject = new Date();
                    var month = dateObject.getMonth() + 1;
                    var dateOfMonth = dateObject.getDate();
                    var year = dateObject.getFullYear();
                    var formattedDate = dateOfMonth + "/" + month  + "/" + year;

                    document.getElementById('l_FechaCreacionVenta').innerHTML = 'Fecha Impresion: ' + formattedDate;


                    document.getElementById('l_CorporativoVenta').innerHTML = 'Corporativo: ' + list.nombreCorporativo;
                    document.getElementById('l_DatosCorporativoVenta').innerHTML = 'Dirección: ' + list.calle + ', ' + list.codigoPostal + ', ' + list.colonia + ',';
                    document.getElementById('l_DatosCorporativoVentaAlt').innerHTML = list.localidadMunicipio + ', ' + list.ciudad + ', ' + list.estado
                    document.getElementById('l_DatosCorporativoContactoVenta').innerHTML = 'Contacto: ' + list.correoElectronico + ', Teléfono: ' + list.telefono;

                    document.getElementById('dl_FechaCreacionVenta').innerHTML = 'Fecha Impresion: ' + formattedDate;


                    document.getElementById('dl_CorporativoVenta').innerHTML = 'Corporativo: ' + list.nombreCorporativo;
                    document.getElementById('dl_DatosCorporativoVenta').innerHTML = 'Dirección: ' + list.calle + ', ' + list.codigoPostal + ', ' + list.colonia + ',';
                    document.getElementById('dl_DatosCorporativoVentaAlt').innerHTML = list.localidadMunicipio + ', ' + list.ciudad + ', ' + list.estado
                    document.getElementById('dl_DatosCorporativoContactoVenta').innerHTML = 'Contacto: ' + list.correoElectronico + ', Teléfono: ' + list.telefono;
                }
            },

        });
        $.ajax({
            type: "GET",
            url: "/TblCentros/fDatosCentro/",
            data: {},
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (list) {
                if (list.length == 0) {
                }
                else {
                    document.getElementById('l_CentroVenta').innerHTML = 'Centro: ' + list.nombreCentro;
                    document.getElementById('l_DatosCentroVenta').innerHTML = 'Dirección: ' + list.calle + ', ' + list.codigoPostal + ', ' + list.colonia + ',';
                    document.getElementById('l_DatosCentroVentaAlt').innerHTML = list.localidadMunicipio + ', ' + list.ciudad + ', ' + list.estado
                    document.getElementById('l_DatosCentroContactoVenta').innerHTML = 'Contacto: ' + list.correoElectronico + ', Teléfono: ' + list.telefono;

                    document.getElementById('dl_CentroVenta').innerHTML = 'Centro: ' + list.nombreCentro;
                    document.getElementById('dl_DatosCentroVenta').innerHTML = 'Dirección: ' + list.calle + ', ' + list.codigoPostal + ', ' + list.colonia + ',';
                    document.getElementById('dl_DatosCentroVentaAlt').innerHTML = list.localidadMunicipio + ', ' + list.ciudad + ', ' + list.estado
                    document.getElementById('dl_DatosCentroContactoVenta').innerHTML = 'Contacto: ' + list.correoElectronico + ', Teléfono: ' + list.telefono;
                }
            },
        });
        $.ajax({
            type: "GET",
            url: "/TblUsuarios/fDatosUsuario/",
            data: {},
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (list) {
                if (list.length == 0) {
                }
                else {
                    document.getElementById('l_UsuarioVenta').innerHTML = 'Usuario: ' + list.nombres + ' ' + list.apellidoPaterno + ' ' + list.apellidoMaterno;

                    document.getElementById('dl_UsuarioVenta').innerHTML = 'Usuario: ' + list.nombres + ' ' + list.apellidoPaterno + ' ' + list.apellidoMaterno;
                }
            },
        });
    });
    $('#l_alumno').select2({
        theme: "bootstrap-5",
        width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
        placeholder: $(this).data('placeholder'),
    });
    $('#l_tipo_servicios').select2({
        theme: "bootstrap-5",
        width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
        placeholder: $(this).data('placeholder'),
    });
    $('#l_servicios').select2({
        theme: "bootstrap-5",
        width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
        placeholder: $(this).data('placeholder'),
    });
    $('#l_tipo_servicios').change(function () {
        var SelectedText = $('option:selected', this).text();
        var SelectedValue = $('option:selected', this).val();
        $.ajax({
            type: "GET",
            url: "/TblServicios/FiltroServicios/",
            data: { id: SelectedValue },
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (list) {
                var $lista_servicios = $('#l_servicios');
                $("#l_servicios").empty();

                if (list.length == 0) {
                    $lista_servicios.append('<option value="">SELECCIONAR</option>');
                    $lista_servicios.attr('required', false);
                }
                else {
                    $lista_servicios.append('<option value="">SELECCIONAR</option>');
                    for (var i = 0, len = list.length; i < len; i++) {
                        $lista_servicios.append('<option value=' + list[i].idServicio + '>' + list[i].descServicio + '</option>');
                        $lista_servicios.attr('required', true);
                    }
                }
            },
            error: function () {
                alert("Error!!")
            }
        });
    });
    $('#l_tipo_venta').change(function () {
        var SelectedText = $('option:selected', this).text();
        var SelectedValue = $('option:selected', this).val();

        if (SelectedValue != 1) {

            document.getElementById('v_tipo_venta').innerHTML = 'Tipo de Venta: ' + SelectedText + ',';
            document.getElementById('dv_tipo_venta').innerHTML = 'Tipo de Venta: ' + SelectedText + ',';
        }
        else {

            document.getElementById('v_tipo_venta').innerHTML = 'Tipo de Venta: ' + SelectedText + ',';
            document.getElementById('dv_tipo_venta').innerHTML = 'Tipo de Venta: ' + SelectedText + ',';
        }
    });
    $('#i_codigo_pago').change(function () {
        var f_codigo_pago = $('#i_codigo_pago').val();
        document.getElementById('v_codigo_referencia').innerHTML = 'Codigo de Referencia: ' + f_codigo_pago;
        document.getElementById('dv_codigo_referencia').innerHTML = 'Codigo de Referencia: ' + f_codigo_pago;
    });
    $('#i_pago_monto').change(function () {
        let total_col1 = 0;
        $('#tbProducto tbody').find('tr').each(function (i, el) {

            total_col1 += parseFloat($(this).find('td').eq(4).text());
        });
        let iPagoMonto = parseInt($('#i_pago_monto').val());
        let tDiferencia = parseInt(iPagoMonto - total_col1);
        let vTotal = iPagoMonto - tDiferencia;
        document.getElementById("i_pago_diferencia").value = tDiferencia;
        $('#btnPrint').removeAttr('hidden');

    });
    $('#l_tipo_pago').change(function () {
        var SelectedText = $('option:selected', this).text();
        var SelectedValue = $('option:selected', this).val();

        if (SelectedValue != 1) {
            $('#lCodigoPago').removeAttr('hidden');
            document.getElementById("lCodigoPago").setAttribute("required", true);
            document.getElementById('v_forma_pago').innerHTML = 'Forma de Pago: ' + SelectedText;
            document.getElementById('dv_forma_pago').innerHTML = 'Forma de Pago: ' + SelectedText;
        }
        else {
            $('#lCodigoPago').removeAttr('required');
            document.getElementById("lCodigoPago").setAttribute("hidden", true);
            document.getElementById('v_forma_pago').innerHTML = 'Forma de Pago: ' + SelectedText;
            document.getElementById('dv_forma_pago').innerHTML = 'Forma de Pago: ' + SelectedText;
        }
    });
    $('#l_servicios').change(function () {
        var SelectedText = $('option:selected', this).text();
        var SelectedValue = $('option:selected', this).val();

        $.ajax({
            type: "GET",
            url: "/TblServicios/fFiltroServicio/",
            data: { idA: SelectedValue },
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (list) {
                if (list.length == 0) {
                }
                else {
                    for (var i = 0, len = list.length; i < len; i++) {
                        var f_tipo_servicio = list[i].tipoServicioDesc;
                        var f_servicio = list[i].descServicio;
                        var f_precio = list[i].totalPrecioServicio;
                        var _desc = parseFloat($("#iDescuento").val())
                        var _prec = parseFloat(f_precio)
                        var _tprecio = _prec - ((_prec * _desc) / 100)

                        var rowCount = $('#tbProducto >tbody >tr').length;

                        $("#tbProducto tbody").append(
                            $("<tr>").append(
                                $("<td style='text-align:center'>").text(f_tipo_servicio),
                                $("<td style='text-align:center'>").text(f_servicio),
                                $("<td style='text-align:center'>").text(_desc),
                                $("<td style='text-align:center'>").text(_prec),
                                $("<td style='text-align:center'>").text(_tprecio),
                                $("<td style='text-align:center'><a id='iDesactivaUsuario' class='btn btn-outline-secondary' title='Desactivar' onclick ='RemoveRow(this)'><i class='far fa-stop-circle' style='font-size: 1em; color: #FF9333;''></i></a></td>"))
                        )
                        var rowA = "<tr id='a" + rowCount + "'><td style='text-align:center'>" + f_tipo_servicio + "</td><td style='text-align:center'>" + f_servicio + "</td><td style='text-align:center'>" + _desc + "</td><td style='text-align:center'>" + _prec + "</td><td style='text-align:center'>" + _tprecio + "</td></tr>";
                        var rowB = "<tr id='b" + rowCount + "'><td style='text-align:center'>" + f_tipo_servicio + "</td><td style='text-align:center'>" + f_servicio + "</td><td style='text-align:center'>" + _desc + "</td><td style='text-align:center'>" + _prec + "</td><td style='text-align:center'>" + _tprecio + "</td></tr>";
                        $("#tbProductoA tbody").append(rowA);
                        $("#tbProductoB tbody").append(rowB);

                        var dateObject = new Date();
                        var month = dateObject.getMonth() + 1;
                        var dateOfMonth = dateObject.getDate();
                        var year = dateObject.getFullYear();
                        var periodo_inicial = (dateOfMonth + 1) + "/" + month  + "/" + year;
                        var periodo_final = (dateOfMonth + 1) + "/" + (month + list[i].periodo - 1) + "/" + year;
                        document.getElementById('v_perido').innerHTML = 'Periodo Comprendido del: ' + periodo_inicial + ' al: ' + periodo_final;
                        document.getElementById('dv_perido').innerHTML = 'Periodo Comprendido del: ' + periodo_inicial + ' al: ' + periodo_final;
                    }

                    var total_col1 = 0;
                    var total_col2 = 0;
                    $('#tbProducto tbody').find('tr').each(function (i, el) {

                        total_col1 += parseFloat($(this).find('td').eq(4).text());
                        total_col2 += parseFloat($(this).find('td').eq(1).text());
                        document.getElementById('l_total_venta').innerHTML = "$ " + total_col1;
                    });
                }
            },
        });
    });
    $('#l_alumno').change(function () {
        var SelectedText = $('option:selected', this).text();
        var SelectedValue = $('option:selected', this).val();

        $.ajax({
            type: "GET",
            url: "/TblAlumnos/sDatosAlumno/",
            data: { id: SelectedValue },
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (list) {
                if (list.length == 0) {
                }
                else {
                    document.getElementById('l_ClienteVenta').innerHTML = 'Alumno: ' + list.nombreCompleto;
                    document.getElementById('dl_ClienteVenta').innerHTML = 'Alumno: ' + list.nombreCompleto;
                }
            },
        });
    });
    $("#btnTerminar").on("click", function () {
        valida_venta();
    })
    function RemoveRow(o) {
        //no clue what to put here?
        var p = o.parentNode.parentNode;
        p.parentNode.removeChild(p);
        var total_col1 = 0;
        var rowCount = $('#tbProducto >tbody >tr').length;

        if (rowCount == 0) {
            document.getElementById('l_total_venta').innerHTML = "$ " + total_col1;
            document.getElementById('i_pago_diferencia').value = total_col1;
        }
        else {
            $('#tbProducto tbody').find('tr').each(function (i, el) {

                total_col1 += parseFloat($(this).find('td').eq(4).text());
                document.getElementById('l_total_venta').innerHTML = "$ " + total_col1;
            });
        }
    }
    function registra_venta(f_tipo_pago, f_codigo_pago, catidad_abono, dateObject, total_col1) {

        var RelVenta_Pagos = []
        var RelVenta_Productos = []
        $("#tbProducto > tbody > tr").each(function (i, tr) {
            // FechaAlterna: $("#i_FolioVenta").val(),
            //   CodigoPago: $("#i_FolioVenta").val()
            RelVenta_Productos.push(
                {
                    TipoServicio: $(tr).find('td:eq(0)').text(),
                    Servicio: $(tr).find('td:eq(1)').text(),
                    Descuento: $(tr).find('td:eq(2)').text(),
                    Precio: $(tr).find('td:eq(3)').text(),
                    TotalPrecio: $(tr).find('td:eq(4)').text()
                }
            )
        })

        var RelVenta_Pagos = [{

            IdTipoPago: f_tipo_pago,
            FechaAlternaPago: dateObject,
            CodigoReferencia: f_codigo_pago,
            CantidadPago: catidad_abono,
            Total: total_col1
        }];
        var oCompraVM = {
            TblVentas: {
                IdTipoVenta: $("#l_tipo_venta").val(),
                IdCliente: $("#l_alumno").val(),
                FolioVenta: $("#i_FolioVenta").val(),

            },
            RelVentaProductos: RelVenta_Productos,
            RelVentaPagos: RelVenta_Pagos
        }

        jQuery.ajax({
            url: '@Url.Action("Index", "TblVentas")',
            type: "POST",
            data: JSON.stringify(oCompraVM),
            datatype: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {

                if (data.respuesta) {
                    vNotify.success({ text: 'Venta Registrada.', title: 'Intelimundo.' });
                    var url = '@Url.Action("Index", "TblVentas")';
                    window.location.href = url;
                }
            }
        });
    }
    function valida_venta() {
        var dateObject = null;
        var f_tipo_venta = $('#l_tipo_venta').val();
        var f_alumno = $('#l_alumno').val();
        var f_registros_tabla = $('#tbProducto >tbody >tr').length;
        var f_tipo_pago = $('#l_tipo_pago').val();
        var f_total_venta = $('#l_total_venta').val();
        var f_pago_diferencia = $('#i_pago_diferencia').val();
        var f_codigo_pago = $('#i_codigo_pago').val();
        var total_col1 = 0;
        $('#tbProducto tbody').find('tr').each(function (i, el) {
            total_col1 += parseFloat($(this).find('td').eq(4).text());
        });
        var i_pago_monto = parseInt($('#i_pago_monto').val());
        var t_diferencia = parseInt(i_pago_monto - total_col1);
        var v_total = i_pago_monto - t_diferencia;

        var i_fecha_alterna_pago = $('#i_fecha_alterna_pago').val();

        if (i_fecha_alterna_pago != "") {

            dateObject = new Date(i_fecha_alterna_pago);

        }
        else {
            dateObject = new Date();
        }
        var catidad_abono = null;

        if (f_tipo_venta != 1) {

            catidad_abono = $("#i_pago_monto").val();
        }
        else {
            catidad_abono = total_col1;
        }

        if (f_tipo_venta == "") {
            validate('l_tipo_venta')
        }
        else if (f_alumno == "") {
            validate('l_alumno')
        }
        else {
            if (f_registros_tabla == 0) {
                vNotify.error({ text: 'Favor de agregar Servicios.', title: 'Intelimundo.' });
            }
            else if (f_tipo_pago == "") {
                validate('l_tipo_pago')
            }
            else if (f_tipo_pago != 1 && f_codigo_pago == "") {
                validate('i_codigo_pago')
            }
            else if (i_pago_monto == 0) {
                validate('i_pago_monto')
            }
            else if (f_tipo_venta == 1) {
                if (v_total == total_col1) {

                    registra_venta(f_tipo_pago, f_codigo_pago, catidad_abono, dateObject, total_col1);

                }
            }
            else if (f_tipo_venta == 2) {
                if (v_total == total_col1) {

                    registra_venta(f_tipo_pago, f_codigo_pago, catidad_abono, dateObject, total_col1);

                }
            }
            else {
                vNotify.error({ text: 'Err.', title: 'Intelimundo.' });
            }
        }
    }
    function validate(inputID) {
        switch (inputID) {
            case 'l_tipo_venta':
                vNotify.error({ text: 'Tipo Venta, Requerido.', title: 'Intelimundo.' });
                break;
            case 'l_alumno':
                vNotify.error({ text: 'Alumno, Requerido.', title: 'Intelimundo.' });
                break;
            case 'l_tipo_pago':
                vNotify.error({ text: 'Tipo Pago, Requerido.', title: 'Intelimundo.' });
                break;
            case 'i_codigo_pago':
                vNotify.error({ text: 'Codigo de Pago, Requerido.', title: 'Intelimundo.' });
                break;
            case 'i_pago_monto':
                vNotify.error({ text: 'Pago, Requerido.', title: 'Intelimundo.' });
                break;
            default:
                vNotify.error({ text: 'Err.', title: 'Intelimundo.' });
        }
    }
    $(document).on("click", "#btnPrint", function (e) {
        var nFolio = $('#i_FolioVenta').val();
        var dateObject = null;
        var month = null;
        var dateOfMonth = null;
        var year = null;
        var fecha_alterna_pago = null;
        var i_fecha_alterna_pago = $('#i_fecha_alterna_pago').val();
        var f_tipo_venta = $('#l_tipo_venta').val();

        if (i_fecha_alterna_pago != "") {
            dateObject = new Date(i_fecha_alterna_pago);
            month = dateObject.getMonth();
            dateOfMonth = dateObject.getDate();
            year = dateObject.getFullYear();
            fecha_alterna_pago = (dateOfMonth + 1) + "/" + month + "/" + year;
            document.getElementById('l_FechaAlternaVenta').innerHTML = 'Fecha Alterna de Pago: ' + fecha_alterna_pago;
            document.getElementById('dl_FechaAlternaVenta').innerHTML = 'Fecha Alterna de Pago: ' + fecha_alterna_pago;
        }
        var total_col1 = 0;
        $('#tbProducto tbody').find('tr').each(function (i, el) {
            total_col1 += parseFloat($(this).find('td').eq(4).text());
        });

        if (f_tipo_venta == 2) {
            var i_pago_monto = parseInt($('#i_pago_monto').val());
            var t_diferencia = parseInt(i_pago_monto - total_col1);
            document.getElementById('v_total_venta').innerHTML = 'Pago: ' + i_pago_monto + ', Restante: ' + t_diferencia * -1;
            document.getElementById('dv_total_venta').innerHTML = 'Pago: ' + i_pago_monto + ', Restante: ' + t_diferencia * -1;
        }
        e.preventDefault();
        e.stopPropagation();
        $("#invocieContainer").printThis({
            debug: false, // show the iframe for debugging
            importCSS: true, // import page CSS
            importStyle: true, // import style tags
            printContainer: true, // grab outer container as well as the contents of the selector
            loadCSS: "/assets/vendor/css/theme-default.css", // path to additional css file - us an array [] for multiple
            pageTitle: "Venta_" + nFolio, // add title to print page
            removeInline: false, // remove all inline styles from print elements
            printDelay: 333, // variable print delay; depending on complexity a higher value may be necessary
            header: null, // prefix to html
            formValues: false // preserve input/form values
        });
    });
</script>
}