@model WebAdmin.ViewModels.VentasViewModel

@{
ViewData["Title"] = "Create";
Layout = "~/Views/Shared/_Layout.cshtml";
<link rel="stylesheet" href="~/css/site.css" />
}
<style>
    .invoice-box {
        max-width: 800px;
        margin: auto;
        padding: 5px;
        border: 1px solid #eee;

        font-size: 14px;
        line-height: 15px;
        font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
        color: #555;
    }

    .invoice-box table {
        width: 100%;
        line-height: inherit;
        text-align: left;
        border-collapse: collapse;
    }

    .invoice-box table td {
        padding: 10px;
        vertical-align: top;
    }

    .invoice-box table tr td:nth-child(2) {
        text-align: right;
    }

    .invoice-box table tr.top table td {
        padding-bottom: 10px;
    }

    .invoice-box table tr.top table td.title {
        font-size: 45px;
        line-height: 20px;
        color: #333;
    }

    .invoice-box table tr.information table td {
        padding-bottom: 10px;
    }

    .invoice-box table tr.heading td {
        background: #eee;
        border-bottom: 1px solid #ddd;
        font-weight: bold;
    }

    .invoice-box table tr.details td {
        padding-bottom: 10px;
    }

    .invoice-box table tr.item td {
        border-bottom: 1px solid #eee;
    }

    .invoice-box table tr.item.last td {
        border-bottom: none;
    }

    .invoice-box table tr.total td:nth-child(2) {
        border-top: 2px solid #eee;
        font-weight: bold;
    }
</style>

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Administración /</span> Usuario</h4>
    <!-- Basic with Icons -->
    <div class="col-xxl">
        <div class="card mb-8">
            <div class="card-header d-flex align-items-center justify-content-between">
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="mb-3 col-md-3">
                        <label for="TblVentas.IdTipoVenta" class="form-label" asp-for="TblVentas.IdTipoVenta"></label>
                        <div class="input-group input-group-merge">
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-fullname2" class="input-group-text"><i
                                        class="bx bx-check-shield"></i></span>
                                <select id="lIdTipoVenta" class="form-select" required asp-for="TblVentas.IdTipoVenta"
                                    oninvalid="this.setCustomValidity('Campo Requerido')"
                                    onchange="this.setCustomValidity('')" required
                                    asp-items="@(new SelectList(ViewBag.ListaTipoVenta,"IdTipoVenta","TipoVentaDesc"))">
                                    <option value="">SELECCIONAR</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 col-md-6">
                        <label for="TblVentas.IdCliente" class="form-label" asp-for="TblVentas.IdCliente"></label>
                        <div class="input-group input-group-merge">
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-fullname2" class="input-group-text"><i
                                        class="bx bx-check-shield"></i></span>
                                <select id="IdCliente" class="form-select" required asp-for="TblVentas.IdCliente"
                                    oninvalid="this.setCustomValidity('Campo Requerido')"
                                    onchange="this.setCustomValidity('')" required
                                    asp-items="@(new SelectList(ViewBag.ListaUsuariosCentros,"IdUsuario","NombreUsuario"))">
                                    <option value="">SELECCIONAR</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 col-md-2">
                        <label class="form-label"> Descuento</label>
                        <div class="input-group input-group-merge">
                            <span id="2" class="input-group-text"><i class="bx bx-check-shield"></i></span>
                            <input id="iDescuento" style="text-transform:uppercase" type="number" class="form-control"
                                id="" min="0" max="100" value="0" aria-label="John Doe" aria-describedby="2" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label class="form-label" asp-for="@Model.RelVentaProductos[0].TipoServicio"></label>
                        <div class="input-group input-group-merge">
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-fullname2" class="input-group-text"><i
                                        class="bx bx-check-shield"></i></span>
                                <select id="l_tipo_servicios" class="form-select"
                                    oninvalid="this.setCustomValidity('Campo Requerido')"
                                    onchange="this.setCustomValidity('')" required
                                    asp-items="@(new SelectList(ViewBag.ListaTipoServicio,"IdTipoServicio","TipoServicioDesc"))">
                                    <option value="">SELECCIONAR</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 col-md-8">
                        <label class="form-label" asp-for="@Model.RelVentaProductos[0].Servicio"></label>
                        <div class="input-group input-group-merge">
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-fullname2" class="input-group-text"><i
                                        class="bx bx-check-shield"></i></span>
                                <select id="l_servicios" class="form-select" required
                                    asp-for="@Model.RelVentaProductos[0].Servicio"
                                    oninvalid="this.setCustomValidity('Campo Requerido')"
                                    onchange="this.setCustomValidity('')" required>
                                    <option value="">SELECCIONAR</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <!-- Main content -->
                        <div class="invoice p-3 mb-3">
                            <!-- Table row -->
                            <div class="row">
                                <div class="col-12 table-responsive">
                                    <table class="table" id="tbProducto">
                                        <tbody>
                                            <thead>
                                                </th>
                                                <th style="text-align:center">
                                                    TIPO SERVICIO
                                                </th>
                                                <th style="text-align:center">
                                                    SERVICIO
                                                </th>
                                                <th style="text-align:center">
                                                    DESCUENTO
                                                </th>
                                                <th style="text-align:center">
                                                    PRECIO
                                                </th>
                                                <th style="text-align:center">
                                                    TOTAL
                                                </th>
                                                <th style="text-align:center">ACCIONES</th>
                                            </thead>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                            <!-- /.row -->
                            <!-- this row will not appear when printing -->
                        </div>
                        <!-- /.invoice -->
                    </div><!-- /.col -->
                </div>
                <div class="row">
                    <!-- accepted payments column -->
                    <div class="col-6">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">TIPO PAGO</label>
                                    <select id="lTipoPago" class="form-select"
                                        oninvalid="this.setCustomValidity('Campo Requerido')"
                                        onchange="this.setCustomValidity('')" required
                                        asp-items="@(new SelectList(ViewBag.ListaTipoPago,"IdTipoPago","TipoPagoDesc"))">
                                        <option value="">SELECCIONAR</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" id="lFechaAlterna">
                                    <label class="control-label">FECHA ALTERNA</label>
                                    <input type="date" id="iFechaAlterna" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">PAGO</label>
                                    <input type="number" id="iPagoMonto" class="form-control"
                                        oninvalid="this.setCustomValidity('Campo Requerido')"
                                        onchange="this.setCustomValidity('')" required />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">CAMBIO</label>
                                    <input id="iPagoDiferencia" class="form-control" readonly />
                                </div>
                            </div>


                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group" id="lCodigoPago" hidden>
                                    <label class="control-label">CODIGO PAGO</label>
                                    <input id="iCodigoPago" class="form-control"
                                        oninvalid="this.setCustomValidity('Campo Requerido')"
                                        onchange="this.setCustomValidity('')" required />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" id="lCantidadAbono" hidden>
                                    <label class="control-label">DIFERENCIA</label>
                                    <input type="number" id="iCantidadAbono" class="form-control"
                                        oninvalid="this.setCustomValidity('Campo Requerido')"
                                        onchange="this.setCustomValidity('')" readonly />
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-6">
                        <div class="table-responsive">
                            <table class="table">
                                @* <tr>
                                    <th style="width:50%">Subtotal:</th>
                                    <td><label id="l_SubTotalVenta"></label></td>
                                </tr> *@
                                @* <tr>
                                    <th>IVA (16 %)</th>
                                    <td><label id="l_IvaVenta"></label></td>
                                </tr> *@
                                <tr>
                                    <th>Total:</th>
                                    <td><label id="l_TotalVenta"></label></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-10">
                        <br>

                        <a id="btnTerminar" class="btn btn-success">
                            <span>Guardar</span>

                        </a>
                        <a asp-action="Index" class="btn btn-secondary">Regresar</a>
                        <button class="btn btn-info" id="btnPrint" hidden>Imprimir</button>
                    </div>
                </div>
                <hr>

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalVentas" aria-labelledby="modalVentasLabel" tabindex="-1" style="display: none"
    aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalVentasLabel">La venta se ha registrado con exito ¿deseas imprimir la
                    nota de venta?</h5>
                <input type="hidden" id="i_FolioVenta" />
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="invoice-box" id="invocieContainer" style="height:297mm;width:210mm;">
                        <table>
                            <tr class="top">
                                <td colspan="2">
                                    <table>
                                        <tr>
                                            <td class="title">
                                                <img src="~/assets/img/logo-azul-c.png" alt="Intelimundo"
                                                    style="width: 128px; max-width: 128px" />
                                            </td>
                                            <td>
                                                <label id="l_NumVenta"></label><br />
                                                <label id="l_FechaCreacionVenta"></label><br />
                                                <label id="l_FechaAlternaVenta"></label><br />
                                                <label id="l_UsuarioVenta"></label>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr class="information">
                                <td colspan="2">
                                    <table>
                                        <tr>
                                            <td>
                                                <label id="l_CentroVenta"></label><br />
                                                <label id="l_DatosCentroVenta"></label><br />
                                                <label id="l_DatosCentroVentaAlt"></label><br />
                                            </td>

                                            <td>
                                                <label id="l_ClienteVenta"></label><br />
                                                <label id="l_DatosClienteVenta"></label><br />
                                                <label id="l_DatosClienteVentaAlt"></label><br />
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>

                            <tr class="heading">
                                <td>Metodo de Pago</td>

                                <td>Pago #</td>
                            </tr>

                            <tr class="details">
                                <td>Efectivo</td>

                                <td>1000</td>
                            </tr>

                            <tr class="heading">
                                <td>Total</td>

                                <td>Precio</td>
                            </tr>

                            <tr class="item">
                                <td>Test</td>

                                <td>$0.00</td>
                            </tr>

                            <tr class="item">
                                <td>Test</td>

                                <td>$0.00</td>
                            </tr>

                            <tr class="item last">
                                <td>Test</td>

                                <td>$0.00</td>
                            </tr>

                            <tr class="total">
                                <td>
                                    <p><span class="text-muted fw-light">Intelimundo /</span>Contabilidad</p>
                                </td>
                                <td>Total: $0.00</td>
                            </tr>
                        </table>
                        <table>
                            <tr class="top">
                                <td colspan="2">
                                    <table>
                                        <tr>
                                            <td class="title">
                                                <img src="~/assets/img/logo-azul-c.png" alt="Intelimundo"
                                                    style="width: 128px; max-width: 128px" />
                                            </td>
                                            <td>
                                                <label id="l_NumVenta"></label><br />
                                                <label id="l_FechaCreacionVenta"></label><br />
                                                <label id="l_FechaAlternaVenta"></label><br />
                                                <label id="l_UsuarioVenta"></label>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>

                            <tr class="information">
                                <td colspan="2">
                                    <table>
                                        <tr>
                                            <td>
                                                <label id="l_CentroVenta"></label><br />
                                                <label id="l_DatosCentroVenta"></label><br />
                                                <label id="l_DatosCentroVentaAlt"></label><br />
                                            </td>

                                            <td>
                                                <label id="l_ClienteVenta"></label><br />
                                                <label id="l_DatosClienteVenta"></label><br />
                                                <label id="l_DatosClienteVentaAlt"></label><br />
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>

                            <tr class="heading">
                                <td>Metodo de Pago</td>

                                <td>Pago #</td>
                            </tr>

                            <tr class="details">
                                <td>Efectivo</td>

                                <td>1000</td>
                            </tr>

                            <tr class="heading">
                                <td>Total</td>

                                <td>Precio</td>
                            </tr>

                            <tr class="item">
                                <td>Test</td>

                                <td>$0.00</td>
                            </tr>

                            <tr class="item">
                                <td>Test</td>

                                <td>$0.00</td>
                            </tr>

                            <tr class="item last">
                                <td>Test</td>

                                <td>$0.00</td>
                            </tr>

                            <tr class="total">
                                <td>
                                    <p><span class="text-muted fw-light">Intelimundo /</span>
                                        Cliente</p>
                                </td>

                                <td>Total: $0.00</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <form class="form-inline">
                    <button type="submit" class="btn btn-danger">Cerrar sesión</button>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
@{
await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
    <script>
        const formatter = new Intl.NumberFormat('en-US', {
            style: 'currency',
            currency: 'USD',
            minimumFractionDigits: 2
        })
        $(document).ready(function () {
            const d1 = new Date();
            const GeneraFolio = d1.getTime();
            document.getElementById("i_FolioVenta").value = "iV-" + GeneraFolio;
        });
        $('#IdCliente').select2({
            theme: "bootstrap-5",
            width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
            placeholder: $(this).data('placeholder'),
        });
        $('#l_tipo_servicios').select2({
            theme: "bootstrap-5",
            width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
            placeholder: $(this).data('placeholder'),
        });
        $('#l_servicios').select2({
            theme: "bootstrap-5",
            width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
            placeholder: $(this).data('placeholder'),
        });
        $('#l_tipo_servicios').change(function () {
            var SelectedText = $('option:selected', this).text();
            var SelectedValue = $('option:selected', this).val();
            $.ajax({
                type: "GET",
                url: "/TblServicios/FiltroServicios/",
                data: { id: SelectedValue },
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (list) {
                    var $lista_servicios = $('#l_servicios');
                    $("#l_servicios").empty();

                    if (list.length == 0) {
                        $lista_servicios.append('<option value="">SELECCIONAR</option>');
                        $lista_servicios.attr('required', false);

                    }
                    else {
                        $lista_servicios.append('<option value="">SELECCIONAR</option>');
                        for (var i = 0, len = list.length; i < len; i++) {
                            $lista_servicios.append('<option value=' + list[i].idServicio + '>' + list[i].descServicio + '</option>');
                            $lista_servicios.attr('required', true);
                        }
                    }
                },
                error: function () {
                    alert("Error!!")
                }
            });
        });
        $('#iPagoMonto' ).change(function() {
            let total_col1 = 0;
                    $('#tbProducto tbody').find('tr').each(function (i, el) {

                total_col1 += parseFloat($(this).find('td').eq(4).text());
                });
                let iPagoMonto = parseInt($('#iPagoMonto').val());
                let tDiferencia = parseInt(iPagoMonto - total_col1);
                let vTotal = iPagoMonto + tDiferencia;
            document.getElementById("iPagoDiferencia").value = tDiferencia;
            if (vTotal == total_col1) 
            {
                $('#btnPrint').removeAttr('hidden');
            }
            else
            {
                document.getElementById("btnPrint").setAttribute("hidden", true);
            }
        
        });
        $('#lTipoPago').change(function () {
            var SelectedText = $('option:selected', this).text();
            var SelectedValue = $('option:selected', this).val();

            if (SelectedValue != 1) {
                $('#lCodigoPago').removeAttr('hidden');
            }
            else {
                document.getElementById("lCodigoPago").setAttribute("hidden", true);
            }
        });
        $('#lIdTipoVenta').change(function () {
            var SelectedText = $('option:selected', this).text();
            var SelectedValue = $('option:selected', this).val();

            if (SelectedText == 'DIFERIDA') {
                $('#lCantidadAbono').removeAttr('hidden');
            }
            else {
                document.getElementById("lCantidadAbono").setAttribute("hidden", true);
            }
        });
        $('#l_servicios').change(function () {
            var SelectedText = $('option:selected', this).text();
            var SelectedValue = $('option:selected', this).val();

            $.ajax({
                type: "GET",
                url: "/TblServicios/fFiltroServicio/",
                data: { idA: SelectedValue },
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (list) {
                    if (list.length == 0) {
                    }
                    else {
                        for (var i = 0, len = list.length; i < len; i++) {
                            var f_tipo_servicio = list[i].tipoServicioDesc;
                            var f_servicio = list[i].descServicio;
                            var f_precio = list[i].totalPrecioServicio;
                            var _desc = parseFloat($("#iDescuento").val())
                            var _prec = parseFloat(f_precio)
                            var _tprecio = _prec - ((_prec * _desc) / 100)



                            $("#tbProducto tbody").append(
                                $("<tr>").append(
                                    $("<td style='text-align:center'>").text(f_tipo_servicio),
                                    $("<td style='text-align:center'>").text(f_servicio),
                                    $("<td style='text-align:center'>").text(_desc),
                                    $("<td style='text-align:center'>").text(_prec),
                                    $("<td style='text-align:center'>").text(_tprecio),
                                    $("<td style='text-align:center'><a id='iDesactivaUsuario' class='btn btn-outline-secondary' title='Desactivar' onclick ='RemoveRow(this)'><i class='far fa-stop-circle' style='font-size: 1em; color: #FF9333;''></i></a></td>"))
                            )
                        }

                        //Defino los totales de mis 2 columnas en 0
                        var total_col1 = 0;
                        var total_col2 = 0;
                        //Recorro todos los tr ubicados en el tbody
                        $('#tbProducto tbody').find('tr').each(function (i, el) {

                            //Voy incrementando las variables segun la fila ( .eq(0) representa la fila 1 )     
                            total_col1 += parseFloat($(this).find('td').eq(4).text());
                            total_col2 += parseFloat($(this).find('td').eq(1).text());

                            document.getElementById('l_TotalVenta').innerHTML = "$ " + total_col1;
                        });
                        //Muestro el resultado en el th correspondiente a la columna
                        //$('#ejemplo tfoot tr th').eq(4).text("Total " + total_col1);
                        //$('#ejemplo tfoot tr th').eq(1).text("Total " + total_col2);


                    }
                },
            });
        });
        $("#btnTerminar").on("click", function () {

            var lIdTipoVenta = $('#lIdTipoVenta').val();
            var IdCliente = $('#IdCliente').val();
            var rowCount = $('#tbProducto >tbody >tr').length;
            var lTipoPago = $('#lTipoPago').val();
            var iPagoMonto = $('#iPagoMonto').val();
            var l_TotalVenta = $('#l_TotalVenta').val();
            var iPagoDiferencia = $('#iPagoDiferencia').val();
            
            var total_col1 = 0;
                $('#tbProducto tbody').find('tr').each(function (i, el) {

            total_col1 += parseFloat($(this).find('td').eq(4).text());
            });
            

            if (lIdTipoVenta == "") {
                validate('lIdTipoVenta')
            }
            else if (IdCliente == "") {
                validate('IdCliente')
            }
            else 
            {
                if(rowCount == 0)
                {
                vNotify.error({text:'Favor de agregar Servicios.', title:'Intelimundo.'});    
                }
                else if (lTipoPago == "") {
                validate('lTipoPago')
                }
                else if (iPagoMonto == "") {
                validate('iPagoMonto')
                }
                else if (iPagoMonto != total_col1) {
                    if (iPagoMonto - iPagoDiferencia == total_col1) {
                var RelVenta_Pagos = []
                    var RelVenta_Productos = []
                    var total = 0;
                    $("#tbProducto > tbody > tr").each(function (i, tr) {
                        // FechaAlterna: $("#i_FolioVenta").val(),
                        //   CodigoPago: $("#i_FolioVenta").val()
                        RelVenta_Productos.push(
                            {
                                TipoServicio: $(tr).find('td:eq(0)').text(),
                                Servicio: $(tr).find('td:eq(1)').text(),
                                Descuento: $(tr).find('td:eq(2)').text(),
                                Precio: $(tr).find('td:eq(3)').text(),
                                TotalPrecio: $(tr).find('td:eq(4)').text()
                            }
                        )
                    })
                        var RelVenta_Pagos = [{
                            IdTipoPago: $("#lTipoPago").val(),
                        }];
                    var oCompraVM = {
                        TblVentas: {
                            IdTipoVenta: $("#lIdTipoVenta").val(),
                            IdCliente: $("#IdCliente").val(),
                            FolioVenta: $("#i_FolioVenta").val(),

                        },
                        RelVentaProductos: RelVenta_Productos,
                        RelVentaPagos: RelVenta_Pagos
                    }

                    jQuery.ajax({
                        url: '@Url.Action("Index","TblVentas")',
                        type: "POST",
                        data: JSON.stringify(oCompraVM),
                        datatype: "json",
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {

                            if (data.respuesta) {
                                vNotify.success({text:'Venta Registrada.', title:'Intelimundo.'});
                                var url = '@Url.Action("Index", "TblVentas")';
                                window.location.href = url;
                            }
                        }

                    });
                }
                else
                {
                vNotify.error({text:'Pago no es Igual a Total.', title:'Intelimundo.'});
                }
                
                }

                else
                {
                vNotify.error({text:'Err.', title:'Intelimundo.'});
                }
            }
        })
        function RemoveRow(o) {
            //no clue what to put here?
            var p = o.parentNode.parentNode;
            p.parentNode.removeChild(p);

            var total_col1 = 0;
            var rowCount = $('#tbProducto >tbody >tr').length;

                if(rowCount == 0)
                {
                    document.getElementById('l_TotalVenta').innerHTML = "$ " + total_col1;
                    document.getElementById('iPagoDiferencia').value = total_col1;
                }
                else
                {
                    $('#tbProducto tbody').find('tr').each(function (i, el) {

                    total_col1 += parseFloat($(this).find('td').eq(4).text());
                    document.getElementById('l_TotalVenta').innerHTML = "$ " + total_col1; 
                    });
                }
        }
        function validate(inputID) {
            const input = document.getElementById(inputID);
            const validityState = input.validity;
            input.reportValidity();
        }
        $(document).on("click", "#btnPrint", function (e) {
            e.preventDefault();
            e.stopPropagation();
            $("#invocieContainer").printThis({
                debug: false, // show the iframe for debugging
                importCSS: true, // import page CSS
                importStyle: true, // import style tags
                printContainer: true, // grab outer container as well as the contents of the selector
                loadCSS: "/assets/vendor/css/theme-default.css", // path to additional css file - us an array [] for multiple
                pageTitle: "", // add title to print page
                removeInline: false, // remove all inline styles from print elements
                printDelay: 333, // variable print delay; depending on complexity a higher value may be necessary
                header: null, // prefix to html
                formValues: true // preserve input/form values
            });
        });
    </script>
}