@model IEnumerable<WebAdmin.Models.TblVenta>

@{
    ViewData["Title"] = "Ventas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <style>
        .invoice-box {
            max-width: 800px;
            margin: auto;
            padding: 5px;
            border: 1px solid #eee;

            font-size: 14px;
            line-height: 15px;
            font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
            color: #555;
        }

        .invoice-box table {
            width: 100%;
            line-height: inherit;
            text-align: left;
            border-collapse: collapse;
        }

        .invoice-box table td {
            padding: 10px;
            vertical-align: top;
        }

        .invoice-box table tr td:nth-child(2) {
            text-align: right;
        }

        .invoice-box table tr.top table td {
            padding-bottom: 10px;
        }

        .invoice-box table tr.top table td.title {
            font-size: 45px;
            line-height: 20px;
            color: #333;
        }

        .invoice-box table tr.information table td {
            padding-bottom: 10px;
        }

        .invoice-box table tr.heading td {
            background: #eee;
            border-bottom: 1px solid #ddd;
            font-weight: bold;
        }

        .invoice-box table tr.details td {
            padding-bottom: 10px;
        }

        .invoice-box table tr.item td {
            border-bottom: 1px solid #eee;
        }

        .invoice-box table tr.item.last td {
            border-bottom: none;
        }

        .invoice-box table tr.total td:nth-child(2) {
            border-top: 2px solid #eee;
            font-weight: bold;
        }
    </style>
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Administración /</span> Ventas</h4>
    <div class="card">
        <h5 class="card-header">
            <div class="row">
                <div class="mb-3 col-md-6">
<a id="iNuevo" type="submit" class="btn btn-outline-primary" asp-action="Create"><i class="fas fa-plus"></i> Nuevo</a>
                </div>
                 <div class="mb-3 col-md-6">
                     <div class="row mb-3" id="iCorpCent" hidden>
                                    <label class="col-sm-2 col-form-label" for="basic-icon-default-fullname">Corporativo / Centro</label>
                                    <div class="col-sm-10">
                                      <div class="input-group input-group-merge">
                                        <span id="basic-icon-default-fullname2" class="input-group-text"><i
                                            class="bx bx-check-shield"></i></span>
                                        <select class="form-select" id="drpCorpCent"
                                          asp-items="@(new SelectList(ViewBag.ListaCorpCent,"IdCentro","CentroDesc"))">
                                          <option value="">SELECCIONAR</option>
                                        </select>
                                      </div>
                                    </div>
                                </div>
                </div>
            </div>
        </h5>
        <div class="table-responsive text-nowrap">
            <div class="container">
<table class="table"  id="tblVentas">
    <thead>
        <tr>
              <th style="text-align:center" hidden>
                                @Html.DisplayNameFor(model => model.IdUCorporativoCentro)
                            </th>
                           <th>
                @Html.DisplayNameFor(model => model.CentroDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FolioVenta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreCompletoAlumno)
            </th>       
            <th>
                @Html.DisplayNameFor(model => model.FechaRegistro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEstatusRegistro)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
             <td style="text-align:center" hidden>
                                    @Html.DisplayFor(modelItem => item.IdUCorporativoCentro)
                                </td>
                         <td>
                @Html.DisplayFor(modelItem => item.CentroDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FolioVenta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCompletoAlumno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaRegistro)
            </td>
             <td style="text-align:center">
                    @if (item.IdEstatusRegistro == 1)
                    {
                        <i class="fas fa-check-circle" style="font-size: 1em; color: green;"></i>
                    }
                    else
                    {
                        <i class="fas fa-stop-circle" style="font-size: 1em; color: red;"></i>
                    }
                </td>
             <td style="text-align:center">
                    <a  class="btn btn-outline-secondary"
                    title="Imprimir" id="btnPrint"><i class="fa-solid fa-print" style="font-size: 1em; color: #67C5C4 ;"></i></a>
                    <a asp-action="Details" asp-route-id="@item.IdVenta" class="btn btn-outline-secondary"
                    title="Detalles"><i class="fa-solid fa-list-check" style="font-size: 1em; color: #67C5C4 ;"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.IdVenta" class="btn btn-outline-secondary"
                    title="Desactivar"><i class="fa-solid fa-ban" style="font-size: 1em; color: #FF9333;"></i></a>
                </td>
            </tr>
}
    </tbody>
     <tfoot>
                        <tr>
                            <th style="text-align:center" hidden>
                                @Html.DisplayNameFor(model => model.IdUCorporativoCentro)
                            </th>
                            <th style="text-align:center">
                                @Html.DisplayNameFor(model => model.CentroDesc)
                            </th>
                            <th style="text-align:center">
                                @Html.DisplayNameFor(model => model.NumeroVenta)
                            </th>
                            <th style="text-align:center">
                                @Html.DisplayNameFor(model => model.NombreCompletoAlumno)
                            </th>
                            <th style="text-align:center">
                                @Html.DisplayNameFor(model => model.FechaRegistro)
                            </th>

                        </tr>
                    </tfoot>
</table>
            </div>
        </div>
    </div>
</div>
<div
class="modal fade"
id="modalVentas"
aria-labelledby="VentasLabel"
tabindex="-1"
style="display: none"
aria-hidden="true"
>
<div class="modal-dialog modal-xl">
<div class="modal-content">
<div class="modal-header">
<h5 class="modal-title" id="VentasleLabel">La venta se ha registrado con exito ¿deseas imprimir la nota de venta?</h5>
<input type="hidden"  id="i_FolioPrestamo" />
<button
type="button"
class="btn-close"
data-bs-dismiss="modal"
aria-label="Close"
></button>
</div>
<div class="modal-body">
    <div class="row">
                                         <div class="invoice-box" id="invocieContainer">
                        <table>
                            <tr class="top">
                                <td colspan="2">
                                    <table>
                                        <tr>
                                            <td class="title">
                                                <img src="~/assets/img/logo-azul-c.png" alt="Intelimundo"
                                                    style="width: 128px; max-width: 128px" />
                                            </td>
                                            <td>
                                                <label id="l_NumVenta"></label><br />
                                                <label id="l_FechaCreacionVenta"></label><br />
                                                <label id="l_UsuarioVenta"></label>
                                                <label id="l_UsuarioContactoVenta"></label>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td>
                                                <label id="l_CorporativoVenta"></label><br />
                                                <label id="l_DatosCorporativoVenta"></label><br />
                                                <label id="l_DatosCorporativoVentaAlt"></label><br />
                                                <label id="l_DatosCorporativoContactoVenta"></label><br />
                                            </td>
                                            <td>
                                                <label id="l_CentroVenta"></label><br />
                                                <label id="l_DatosCentroVenta"></label><br />
                                                <label id="l_DatosCentroVentaAlt"></label><br />
                                                <label id="l_DatosCentroContactoVenta"></label><br />
                                            </td>

                                        </tr>

                                    </table>
                                </td>
                            </tr>
                            <tr class="information">
                                <td colspan="2">
                                    <table>
                                        <tr>
                                            <td>
                                                <label id="l_ClienteVenta"></label><br />
                                                <label id="l_DatosClienteVenta"></label><br />
                                                <label id="l_DatosClienteVentaAlt"></label><br />
                                            </td>

                                            <td>

                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>

                            <tr class="heading">
                                <td>Metodo de Pago</td>

                                <td>Pago #</td>
                            </tr>

                            <tr class="details">
                                <td><label id="l_TipoPago">Tipo Pago</label></td>

                                <td><label id="l_UsuarioRemuneracion">0</label></td>
                            </tr>
                            <tr class="">
                                <td></td>

                                <td></td>
                            </tr>

                            <tr class="">
                                <td></td>

                                <td></td>
                            </tr>

                            <tr class="">
                                <td></td>

                                <td></td>
                            </tr>
                            <tr class="total">
                                <td></td>
                                <td>Total</td>
                            </tr>
                            <tr class="">
                                <td></td>

                                <td></td>
                            </tr>

                            <tr class="">
                                <td></td>

                                <td></td>
                            </tr>

                            <tr class="">
                                <td></td>

                                <td></td>
                            </tr>
                            <tr class="total">
                                <td>
                                    <p><span class="text-muted fw-light">Intelimundo /</span>Contabilidad</p>
                                </td>
                                <td><label id="f_ClienteVenta"></label></td>
                            </tr>

                        </table>
                        <hr />
                        <table>
                            <tr class="top">
                                <td colspan="2">
                                    <table>
                                        <tr>
                                            <td class="title">
                                                <img src="~/assets/img/logo-azul-c.png" alt="Intelimundo"
                                                    style="width: 128px; max-width: 128px" />
                                            </td>
                                            <td>
                                                <label id="dl_NumVenta"></label><br />
                                                <label id="dl_FechaCreacionVenta"></label><br />
                                                <label id="dl_UsuarioVenta"></label>
                                                <label id="dl_UsuarioContactoVenta"></label>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td>
                                                <label id="dl_CorporativoVenta"></label><br />
                                                <label id="dl_DatosCorporativoVenta"></label><br />
                                                <label id="dl_DatosCorporativoVentaAlt"></label><br />
                                                <label id="dl_DatosCorporativoContactoVenta"></label><br />
                                            </td>
                                            <td>
                                                <label id="dl_CentroVenta"></label><br />
                                                <label id="dl_DatosCentroVenta"></label><br />
                                                <label id="dl_DatosCentroVentaAlt"></label><br />
                                                <label id="dl_DatosCentroContactoVenta"></label><br />
                                            </td>

                                        </tr>

                                    </table>
                                </td>
                            </tr>
                            <tr class="information">
                                <td colspan="2">
                                    <table>
                                        <tr>
                                            <td>
                                                <label id="dl_ClienteVenta"></label><br />
                                                <label id="dl_DatosClienteVenta"></label><br />
                                                <label id="dl_DatosClienteVentaAlt"></label><br />
                                            </td>

                                            <td>

                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>

                            <tr class="heading">
                                <td>Metodo de Pago</td>

                                <td>Pago #</td>
                            </tr>

                            <tr class="details">
                                <td><label id="dl_TipoPago">Tipo Pago</label></td>

                                <td><label id="dl_UsuarioRemuneracion">0</label></td>
                            </tr>
                            <tr class="">
                                <td></td>

                                <td></td>
                            </tr>

                            <tr class="">
                                <td></td>

                                <td></td>
                            </tr>

                            <tr class="">
                                <td></td>

                                <td></td>
                            </tr>
                            <tr class="total">
                                <td></td>
                                <td>Total</td>
                            </tr>
                            <tr class="">
                                <td></td>

                                <td></td>
                            </tr>

                            <tr class="">
                                <td></td>

                                <td></td>
                            </tr>

                            <tr class="">
                                <td></td>

                                <td></td>
                            </tr>
                            <tr class="total">
                                <td>
                                    <p><span class="text-muted fw-light">Intelimundo /</span>Colaborador</p>
                                </td>
                                <td><label id="df_ClienteVenta"></label></td>
                            </tr>

                        </table>
                    </div>
                </div>
</div>
<div class="modal-footer">
<form class="form-inline">
<button type="submit" class="btn btn-danger">Cerrar sesión</button>

</form>                             
</div>
</div>
</div>
</div>
@section Scripts {
@{
await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
<script type="text/javascript">
   $(document).ready(function () {

        const d1 = new Date();
        const GeneraFolio = d1.getTime();
        document.getElementById("i_FolioPrestamo").value = "iV-" + GeneraFolio;

        $.ajax({
            type: "GET",
            url: "/TblCorporativoes/fDatosCorporativo/",
            data: {},
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (list) {
                if (list.length == 0) {
                }
                else {
                    document.getElementById('l_NumVenta').innerHTML = '# Nómina: ' + "iV-" + GeneraFolio;
                    document.getElementById('dl_NumVenta').innerHTML = '# Nómina: ' + "iV-" + GeneraFolio;

                    const dateObject = new Date(list.fechaRegistro);
                    var month = dateObject.getMonth();
                    var dateOfMonth = dateObject.getDate();
                    var year = dateObject.getFullYear();
                    var formattedDate = dateOfMonth + "/" + month + "/" + year;

                    document.getElementById('l_FechaCreacionVenta').innerHTML = 'Fecha: ' + formattedDate;

                    document.getElementById('l_CorporativoVenta').innerHTML = 'Corporativo: ' + list.nombreCorporativo;
                    document.getElementById('l_DatosCorporativoVenta').innerHTML = 'Dirección: ' + list.calle + ', ' + list.codigoPostal + ', ' + list.colonia + ',';
                    document.getElementById('l_DatosCorporativoVentaAlt').innerHTML = list.localidadMunicipio + ', ' + list.ciudad + ', ' + list.estado
                    document.getElementById('l_DatosCorporativoContactoVenta').innerHTML = 'Contacto: ' + list.correoElectronico + ', Teléfono: ' + list.telefono;

                    document.getElementById('dl_FechaCreacionVenta').innerHTML = 'Fecha: ' + formattedDate;

                    document.getElementById('dl_CorporativoVenta').innerHTML = 'Corporativo: ' + list.nombreCorporativo;
                    document.getElementById('dl_DatosCorporativoVenta').innerHTML = 'Dirección: ' + list.calle + ', ' + list.codigoPostal + ', ' + list.colonia + ',';
                    document.getElementById('dl_DatosCorporativoVentaAlt').innerHTML = list.localidadMunicipio + ', ' + list.ciudad + ', ' + list.estado
                    document.getElementById('dl_DatosCorporativoContactoVenta').innerHTML = 'Contacto: ' + list.correoElectronico + ', Teléfono: ' + list.telefono;
                }
            },

        });
        $.ajax({
            type: "GET",
            url: "/TblCentros/fDatosCentro/",
            data: {},
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (list) {
                if (list.length == 0) {
                }
                else {
                    document.getElementById('l_CentroVenta').innerHTML = 'Centro: ' + list.nombreCentro;
                    document.getElementById('l_DatosCentroVenta').innerHTML = 'Dirección: ' + list.calle + ', ' + list.codigoPostal + ', ' + list.colonia + ',';
                    document.getElementById('l_DatosCentroVentaAlt').innerHTML = list.localidadMunicipio + ', ' + list.ciudad + ', ' + list.estado
                    document.getElementById('l_DatosCentroContactoVenta').innerHTML = 'Contacto: ' + list.correoElectronico + ', Teléfono: ' + list.telefono;

                    document.getElementById('dl_CentroVenta').innerHTML = 'Centro: ' + list.nombreCentro;
                    document.getElementById('dl_DatosCentroVenta').innerHTML = 'Dirección: ' + list.calle + ', ' + list.codigoPostal + ', ' + list.colonia + ',';
                    document.getElementById('dl_DatosCentroVentaAlt').innerHTML = list.localidadMunicipio + ', ' + list.ciudad + ', ' + list.estado
                    document.getElementById('dl_DatosCentroContactoVenta').innerHTML = 'Contacto: ' + list.correoElectronico + ', Teléfono: ' + list.telefono;
                }
            },
        });
        $.ajax({
            type: "GET",
            url: "/TblUsuarios/fDatosUsuario/",
            data: {},
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (list) {
                if (list.length == 0) {
                }
                else {
                    document.getElementById('l_UsuarioVenta').innerHTML = 'Usuario: ' + list.nombres + ' ' + list.apellidoPaterno + ' ' + list.apellidoMaterno;

                    document.getElementById('dl_UsuarioVenta').innerHTML = 'Usuario: ' + list.nombres + ' ' + list.apellidoPaterno + ' ' + list.apellidoMaterno;
                }
            },
        });


    });
 $(document).on("click", "#btnPrint", function(e) {
        
        e.preventDefault();
        e.stopPropagation();
        $("#invocieContainer").printThis({
            debug: false, // show the iframe for debugging
            importCSS: true, // import page CSS
            importStyle: true, // import style tags
            printContainer: true, // grab outer container as well as the contents of the selector
            loadCSS: "/assets/vendor/css/theme-default.css", // path to additional css file - us an array [] for multiple
            pageTitle: "", // add title to print page
            removeInline: false, // remove all inline styles from print elements
            printDelay: 333, // variable print delay; depending on complexity a higher value may be necessary
            header: null, // prefix to html
            formValues: true // preserve input/form values
        });

    });
    $(document).ready(function () {
        $('#drpCorpCent').change(function () {
            var SelectedText = $('option:selected', this).text();
            var SelectedValue = $('option:selected', this).val();
            var input, filter, table, tr, td, i;
            input = document.getElementById("drpCorpCent");
            filter = input.value.toUpperCase();
            table = document.getElementById("tblVentas");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }

        });

        $('#tblVentas').DataTable(
            {
                initComplete: function () {
                    this.api()
                        .columns()
                        .every(function () {
                            var column = this;
                            var select = $('<select class="form-select">SELECCIONAR<option value=""></option></select>')
                                .appendTo($(column.footer()).empty())
                                .on('change', function () {
                                    var val = $.fn.dataTable.util.escapeRegex($(this).val());

                                    column.search(val ? '^' + val + '$' : '', true, false).draw();
                                });

                            column
                                .data()
                                .unique()
                                .sort()
                                .each(function (d, j) {
                                    select.append('<option value="' + d + '">' + d + '</option>');
                                });
                        });
                },
                language: {
                    "decimal": "",
                    "emptyTable": "No hay información",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                    "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                    "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ Entradas",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "Sin resultados encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                }
            }
        );

        var vEstatusFlag = '@ViewBag.EstatusFlag'
        var vEmpresaFlag = '@ViewBag.EmpresaFlag'
        var vCorporativoFlag = '@ViewBag.CorporativoFlag'
        var vCentrosFlag = '@ViewBag.CentrosFlag'
        var vUsuariosFlag = '@ViewBag.UsuariosFlag'

        if (vEstatusFlag == 0) {
            document.getElementById("iNuevo").style.visibility = "hidden";
        }
        else {
            if (vEmpresaFlag == 0) {
                document.getElementById("iNuevo").style.visibility = "hidden";
            }
            else {
                if (vCorporativoFlag == 0) {
                    document.getElementById("iNuevo").style.visibility = "hidden";
                }
                else {
                    if (vCentrosFlag == 0) {
                        document.getElementById("iNuevo").style.visibility = "hidden";
                    }
                    else {
                        if (vUsuariosFlag == 0) {
                            document.getElementById("iNuevo").style.visibility = "hidden";
                        }
                        else {
                            document.getElementById("iNuevo").style.visibility = "visible";
                        }
                    }
                }
            }
        }
    });
</script>
}
