@model IEnumerable<WebAdmin.Models.TblPrestamo>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdTipoPrestamo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrestamoDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCorpCent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadPrestamo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUsuarioPrestamo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApellidoPaterno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApellidoMaterno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CorreoAcceso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUsuarioModifico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaRegistro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEstatusRegistro)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdTipoPrestamo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrestamoDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCorpCent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadPrestamo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsuarioPrestamo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApellidoPaterno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApellidoMaterno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CorreoAcceso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsuarioModifico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaRegistro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEstatusRegistro)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPrestamo">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdPrestamo">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdPrestamo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
