@model WebAdmin.Models.TblPresupuesto

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>TblPresupuesto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTipoPresupuesto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTipoPresupuesto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PresupuestoDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PresupuestoDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MesDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MesDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MontoPresupuesto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MontoPresupuesto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCorpCent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCorpCent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUsuarioModifico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUsuarioModifico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUCorporativoCentro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUCorporativoCentro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEstatusRegistro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEstatusRegistro)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdPresupuesto">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
