@model WebAdmin.Models.TblPresupuesto

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Administración /</span> Presupuesto</h4>
    <!-- Basic with Icons -->
    <div class="col-xxl">
        <div class="card mb-8">

            <div class="card-body">
                <form asp-action="Payment">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="IdPresupuesto" />
                    <div class="row">
                        <div class="mb-3 col-md-3">
                            <label for="IdMes" class="form-label" asp-for="IdMes"></label>
                            <div class="input-group input-group-merge">
                                <div class="input-group input-group-merge">
                                    <span id="basic-icon-default-fullname2" class="input-group-text">
                                        <i class="bx bx-check-shield">
                                        </i>
                                    </span>
                                    <select id="lMes" class="form-select" required asp-for="IdMes"
                                        oninvalid="this.setCustomValidity('Campo Requerido')"
                                        onchange="this.setCustomValidity('')"
                                        asp-items="@(new SelectList(ViewBag.ListaMes, "IdMes", "MesDesc"))">
                                        <option value="">SELECCIONAR</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3 col-md-2">
                            <label for="IdTipoPresupuesto" class="form-label" asp-for="IdTipoPresupuesto"></label>
                            <div class="input-group input-group-merge">
                                <div class="input-group input-group-merge">
                                    <span id="basic-icon-default-fullname2" class="input-group-text">
                                        <i class="bx bx-check-shield">
                                        </i>
                                    </span>
                                    <select id="lTipoPresupuesto" class="form-select" required
                                        asp-for="IdTipoPresupuesto"
                                        oninvalid="this.setCustomValidity('Campo Requerido')"
                                        onchange="this.setCustomValidity('')"
                                        asp-items="@(new SelectList(ViewBag.ListaTipoPresupuesto, "IdTipoPresupuesto", "TipoPresupuestoDesc"))">
                                        <option value="">SELECCIONAR</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3 col-md-3">
                            <label for="IdSubTipoPresupuesto" class="form-label" asp-for="IdSubTipoPresupuesto"></label>
                            <div class="input-group input-group-merge">
                                <div class="input-group input-group-merge">
                                    <span id="basic-icon-default-fullname2" class="input-group-text">
                                        <i class="bx bx-check-shield">
                                        </i>
                                    </span>
                                    <select id="lSubTipoPresupuesto" class="form-select" required
                                        asp-for="IdSubTipoPresupuesto"
                                        oninvalid="this.setCustomValidity('Campo Requerido')"
                                        onchange="this.setCustomValidity('')"
                                        asp-items="@(new SelectList(ViewBag.ListaSubTipoPresupuesto, "IdSubTipoPresupuesto", "SubTipoPresupuestoDesc"))"></select>

                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3 col-md-4" id="c_tipo_servicios" hidden>
                            <label class="form-label">Tipo de Servicio</label>
                            <div class="input-group input-group-merge">
                                <div class="input-group input-group-merge">
                                    <span id="basic-icon-default-fullname2" class="input-group-text">
                                        <i class="bx bx-check-shield">
                                        </i>
                                    </span>
                                    <select id="l_tipo_servicios" class="form-select"
                                        oninvalid="this.setCustomValidity('Campo Requerido')"
                                        onchange="this.setCustomValidity('')" required
                                        asp-items="@(new SelectList(ViewBag.ListaTipoServicio, "IdTipoServicio", "TipoServicioDesc"))">
                                        <option value="">SELECCIONAR</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3 col-md-2">
                            <label for="DiaCorte" class="form-label" asp-for="DiaCorte"></label>
                            <div class="input-group input-group-merge">
                                <span id="2" class="input-group-text">
                                    <i class="bx bx-check-shield"></i>
                                </span>
                                <input spellcheck="true" style="text-transform:uppercase" type="number"
                                    class="form-control" id="iDiaCorte" required
                                    oninvalid="this.setCustomValidity('Campo Requerido')"
                                    onchange="this.setCustomValidity('')" placeholder="Requerido" aria-label="John Doe"
                                    aria-describedby="2" asp-for="DiaCorte" readonly />
                            </div>
                        </div>
                        <div class="mb-3 col-md-6" id="c_servicios" hidden>
                            <label class="form-label"> Servicios</label>
                            <div class="input-group input-group-merge">
                                <div class="input-group input-group-merge">
                                    <span id="basic-icon-default-fullname2" class="input-group-text">
                                        <i class="bx bx-check-shield">
                                        </i>
                                    </span>
                                    <select id="l_servicios" class="form-select" required
                                        oninvalid="this.setCustomValidity('Campo Requerido')"
                                        onchange="this.setCustomValidity('')" required>
                                        <option value="">SELECCIONAR</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-md-4" id="c_presupuesto_desc">
                            <label for="PresupuestoDesc" class="form-label" asp-for="PresupuestoDesc"></label>
                            <div class="input-group input-group-merge">
                                <span id="2" class="input-group-text">
                                    <i class="bx bx-check-shield"></i>
                                </span>
                                <input spellcheck="true" style="text-transform:uppercase" type="text"
                                    class="form-control" id="iPresupuestoDesc" required
                                    oninvalid="this.setCustomValidity('Campo Requerido')"
                                    onchange="this.setCustomValidity('')" placeholder="Requerido" aria-label="John Doe"
                                    aria-describedby="2" asp-for="PresupuestoDesc" readonly />
                            </div>
                        </div>
                        <div class="mb-3 col-md-2">
                            <label for="MontoPresupuesto" class="form-label" asp-for="MontoPresupuesto"></label>
                            <div class="input-group input-group-merge">
                                <span id="2" class="input-group-text">
                                    <i class="bx bx-check-shield"></i>
                                </span>
                                <input spellcheck="true" style="text-transform:uppercase" type="number"
                                    class="form-control" id="iMontoPresupuesto" required
                                    oninvalid="this.setCustomValidity('Campo Requerido')"
                                    onchange="this.setCustomValidity('')" placeholder="Requerido" aria-label="John Doe"
                                    aria-describedby="2" asp-for="MontoPresupuesto" readonly />
                            </div>
                        </div>
                        <div class="mb-3 col-md-2">
                            <label for="NumeroReferencia" class="form-label" asp-for="NumeroReferencia"></label>
                            <div class="input-group input-group-merge">
                                <span id="2" class="input-group-text">
                                    <i class="bx bx-check-shield"></i>
                                </span>
                                <input spellcheck="true" style="text-transform:uppercase" type="text"
                                    class="form-control" id="iNumeroReferencia" aria-label="John Doe"
                                    aria-describedby="2" asp-for="NumeroReferencia" readonly />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-md-3">
                            <label class="form-label" asp-for="IdTipoPago"></label>
                            <div class="input-group input-group-merge">
                                <div class="input-group input-group-merge">
                                    <span id="basic-icon-default-fullname2" class="input-group-text">
                                        <i class="fa-solid fa-exclamation" style="font-size: 1em; color: #ff0000;"></i>
                                    </span>
                                    <select id="l_tipo_pago" class="form-select" required
                                        oninvalid="this.setCustomValidity('Campo Requerido')"
                                        onchange="this.setCustomValidity('')" asp-for="IdTipoPago"
                                        asp-items="@(new SelectList(ViewBag.ListaTipoPago, "IdTipoPago", "TipoPagoDesc"))">
                                        <option value="">SELECCIONAR</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3 col-md-3" hidden id="d_codigo_pago">
                            <label class="form-label" asp-for="FolioPago"></label>
                            <div class="input-group input-group-merge">
                                <span id="2" class="input-group-text">
                                    <i class="fa-solid fa-exclamation" style="font-size: 1em; color: #ff0000;"></i>
                                </span>
                                <input style="text-transform:uppercase" type="text" class="form-control"
                                    id="i_folio_pago" required oninvalid="this.setCustomValidity('Campo Requerido')"
                                    onchange="this.setCustomValidity('')" placeholder="Requerido" aria-label="John Doe"
                                    aria-describedby="2" asp-for="FolioPago" />
                            </div>
                        </div>
                        <div class="mb-3 col-md-3">
                            <label class="form-label" asp-for="MontoPresupuestoReal"></label>
                            <div class="input-group input-group-merge">
                                <span id="2" class="input-group-text"><i class="fa-solid fa-exclamation"
                                        style="font-size: 1em; color: #ff0000;"></i></span>
                                <input type="number" class="form-control" id="i_pago_monto" aria-label="John Doe"
                                    aria-describedby="2" value="0" required min="0" asp-for="MontoPresupuestoReal"
                                    onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">DIFERENCIA</label>
                                <input spellcheck="true" type="number" id="i_pago_diferencia" class="form-control"
                                    value="0" readonly />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-md-12" id="c_presupuesto_desc">
                            <label class="form-label" asp-for="Comentarios"></label>
                            <div class="input-group input-group-merge">
                                <span id="2" class="input-group-text">
                                    <i class="bx bx-check-shield"></i>
                                </span>
                                <input spellcheck="true" style="text-transform:uppercase" type="text"
                                    class="form-control" id="iComentarios" required
                                    oninvalid="this.setCustomValidity('Campo Requerido')"
                                    onchange="this.setCustomValidity('')" placeholder="Requerido" aria-label="John Doe"
                                    aria-describedby="2" asp-for="Comentarios" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input spellcheck="true" type="submit" value="Crear" class="btn btn-success" />
                        <a asp-action="Index" class="btn btn-secondary">Regresar</a>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="invoice p-3 mb-3">
                                <div class="row">
                                    <div class="col-12 table-responsive">
                                        <table class="table" id="tbPResupuestoPagos">
                                            <tbody>
                                                <thead>
                                                    <th style="text-align:center">
                                                        Tipo de Pago
                                                    </th>
                                                    <th style="text-align:center">
                                                        Folio
                                                    </th>
                                                    <th style="text-align:center">
                                                        Monto
                                                    </th>
                                                    <th style="text-align:center">
                                                        Fecha
                                                    </th>
                                                </thead>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
     
    $(document).ready(function () {
        $('#lMes').prop('disabled', true);
        $('#l_tipo_compra').prop('disabled', true);
        $('#lMes').prop('disabled', true);
        CargaPresupuestoPagos();
    });
    $('#l_tipo_pago').change(function () {
        var SelectedText = $('option:selected', this).text();
        var SelectedValue = $('option:selected', this).val();

        if (SelectedValue == 1 || SelectedValue == 0) {
            document.getElementById("d_codigo_pago").setAttribute("hidden", true);
        }
        else {
            $('#d_codigo_pago').removeAttr('hidden');
            document.getElementById("d_codigo_pago").setAttribute("required", true);
        }
    });
    function CargaPresupuestoPagos() {

        var _IdPresupuesto = document.getElementById("IdPresupuesto").value;
        var _tipo_pago;
        var _folio_pago;
        var _monto_pago;
        var _fecha_pago;
        var _estatus_pago;

        $.ajax({
            type: "GET",
            url: "/TblPresupuestos/fPresupuestosPagos/",
            data: { id: _IdPresupuesto },
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (list) {
               const fecha_objeto = new Date(list[0].fechaRegistro);
               let fecha_mes = 1 + fecha_objeto.getUTCMonth();
    let fecha_dia = fecha_objeto.getDate();
    let fecha_anio = fecha_objeto.getFullYear();
               const fecha_formato = fecha_dia + "/" + fecha_mes + "/" + fecha_anio;
                if (list.length == 0) {
                   
                }
                else {
                _tipo_pago = list[0].tipoPagoDesc;
                _folio_pago = list[0].folioPago;
                _monto_pago = list[0].montoPresupuestoReal;
                _fecha_pago = fecha_formato;
                _estatus_pago = list[0].idEstatusRegistro;
       $("#tbPResupuestoPagos tbody").append(
                $("<tr>").append(
                    $("<td style='text-align:center'>").text(_tipo_pago),
                    $("<td style='text-align:center'>").text(_folio_pago),
                    $("<td style='text-align:center'>").text(_monto_pago),
                    $("<td style='text-align:center'>").text(_fecha_pago),
                    $("<td style='text-align:center'></td>"))
            )
                }
            },
            error: function () {
                alert("Error!!")
            }
        });
    }
</script>
}
