@model WebAdmin.Models.CatTipoFormaPago

@{
    ViewData["Title"] = "Desactivar Tipo Forma de Pago";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        
        <li class="breadcrumb-item">Información</li>
        <li class="breadcrumb-item">Catálogos</li>
        <li class="breadcrumb-item">Control de Tipo Forma de Pago</li>
        <li class="breadcrumb-item active" aria-current="page">Desactivar Tipo Forma de Pago</li>
    </ol>
</nav>
<hr />
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoFormaPagoDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoFormaPagoDesc)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEstatusRegistro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEstatusRegistro)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input  style="text-transform:uppercase" type="text" oninvalid="this.setCustomValidity('Campo Requerido')" onchange="this.setCustomValidity('')" required type="hidden" asp-for="IdTipoFormaPago" />
        <input type="submit" value="Desactivar" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Regresar</a>
    </form>
</div>
