@model WebAdmin.Models.TblNomina

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TblNomina</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUsuarioRemuneracion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUsuarioRemuneracion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NominaDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NominaDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsuarioRemuneracion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuarioRemuneracion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTipoPago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTipoPago)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCorpCent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCorpCent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUsuarioModifico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUsuarioModifico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUCorporativoCentro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUCorporativoCentro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEstatusRegistro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEstatusRegistro)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdNomina" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
