@model IEnumerable<WebAdmin.Models.TblNomina>

@{
    ViewData["Title"] = "Nominas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Administración /</span> Nominas</h4>
    <div class="card">
        <h5 class="card-header">
            <div class="row">
                <div class="mb-3 col-md-6">
<a id="iNuevo" type="submit" class="btn btn-outline-primary" asp-action="Create"><i class="fas fa-plus"></i> Nuevo</a>
                </div>
                 <div class="mb-3 col-md-6">
                     <div class="row mb-3" id="iCorpCent" hidden>
                                    <label class="col-sm-2 col-form-label" for="basic-icon-default-fullname">Corporativo / Centro</label>
                                    <div class="col-sm-10">
                                      <div class="input-group input-group-merge">
                                        <span id="basic-icon-default-fullname2" class="input-group-text"><i
                                            class="bx bx-check-shield"></i></span>
                                        <select class="form-select" id="drpCorpCent"
                                          asp-items="@(new SelectList(ViewBag.ListaCorpCent,"IdCentro","CentroDesc"))">
                                          <option value="">SELECCIONAR</option>
                                        </select>
                                      </div>
                                    </div>
                                </div>
                </div>
            </div>
        </h5>
        <div class="table-responsive text-nowrap">
            <div class="row">
<table class="table" id="tblNominas">

    <thead>
        <tr>

            <th style="text-align:center" hidden>
                @Html.DisplayNameFor(model => model.IdUCorporativoCentro)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.UsuarioAsignado)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.UsuarioRemuneracion)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.TipoPagoDesc)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.FechaRegistro)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.IdEstatusRegistro)
            </th>
            <th style="text-align:center">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="text-align:center" hidden>
                    @Html.DisplayFor(modelItem => item.IdUCorporativoCentro)
                </td>
                <td style="text-align:center">
                    @Html.DisplayFor(modelItem => item.UsuarioAsignado)
                </td>
                <td style="text-align:center">
                    @Html.DisplayFor(modelItem => item.UsuarioRemuneracion)
                </td>
                <td style="text-align:center">
                    @Html.DisplayFor(modelItem => item.TipoPagoDesc)
                </td>
                <td style="text-align:center">
                    @Html.DisplayFor(modelItem => item.FechaRegistro)
                </td>
                <td style="text-align:center">
                    @if (item.IdEstatusRegistro == 1)
                    {
                        <i class="fas fa-check-circle" style="font-size: 1em; color: green;"></i>
                    }
                    else
                    {
                        <i class="fas fa-stop-circle" style="font-size: 1em; color: red;"></i>
                    }
                </td>
                <td style="text-align:center">
                    <a asp-action="Edit" asp-route-id="@item.IdNomina" class="btn btn-outline-secondary" title="Editar"><i
                        class="far fa-edit" style="font-size: 1em; color: #FFC300;"></i></a>
                    <a asp-action="Details" asp-route-id="@item.IdNomina" class="btn btn-outline-secondary"
                    title="Detalles"><i class="far fa-list-alt" style="font-size: 1em; color: #67C5C4 ;"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.IdNomina" class="btn btn-outline-secondary"
                    title="Desactivar"><i class="far fa-stop-circle" style="font-size: 1em; color: #FF9333;"></i></a>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th style="text-align:center" hidden>
                @Html.DisplayNameFor(model => model.IdUCorporativoCentro)
            </th>
           <th style="text-align:center" hidden>
                @Html.DisplayNameFor(model => model.UsuarioAsignado)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.NominaDesc)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.UsuarioRemuneracion)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.TipoContratacionDesc)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.TipoPagoDesc)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.FechaRegistro)
            </th>

        </tr>
    </tfoot>
</table>
            </div>
        </div>
    </div>
</div>
@section Scripts {
@{
await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
<script type="text/javascript">
    $(document).ready(function () {
        $('#drpCorpCent').change(function () {
            var SelectedText = $('option:selected', this).text();
            var SelectedValue = $('option:selected', this).val();
            var input, filter, table, tr, td, i;
            input = document.getElementById("drpCorpCent");
            filter = input.value.toUpperCase();
            table = document.getElementById("tblNominas");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }

        });

        $('#tblNominas').DataTable(
            {
                initComplete: function () {
                    this.api()
                        .columns()
                        .every(function () {
                            var column = this;
                            var select = $('<select class="form-select">SELECCIONAR<option value=""></option></select>')
                                .appendTo($(column.footer()).empty())
                                .on('change', function () {
                                    var val = $.fn.dataTable.util.escapeRegex($(this).val());

                                    column.search(val ? '^' + val + '$' : '', true, false).draw();
                                });

                            column
                                .data()
                                .unique()
                                .sort()
                                .each(function (d, j) {
                                    select.append('<option value="' + d + '">' + d + '</option>');
                                });
                        });
                },
                language: {
                    "decimal": "",
                    "emptyTable": "No hay información",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                    "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                    "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ Entradas",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "Sin resultados encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                }
            }
        );

        var vEstatusFlag = '@ViewBag.EstatusFlag'
        var vEmpresaFlag = '@ViewBag.EmpresaFlag'
        var vCorporativoFlag = '@ViewBag.CorporativoFlag'
        var vCentrosFlag = '@ViewBag.CentrosFlag'
        var vUsuariosFlag = '@ViewBag.UsuariosFlag'

        if (vEstatusFlag == 0) {
            document.getElementById("iNuevo").style.visibility = "hidden";
        }
        else {
            if (vEmpresaFlag == 0) {
                document.getElementById("iNuevo").style.visibility = "hidden";
            }
            else {
                if (vCorporativoFlag == 0) {
                    document.getElementById("iNuevo").style.visibility = "hidden";
                }
                else {
                    if (vCentrosFlag == 0) {
                        document.getElementById("iNuevo").style.visibility = "hidden";
                    }
                    else {
                        if (vUsuariosFlag == 0) {
                            document.getElementById("iNuevo").style.visibility = "hidden";
                        }
                        else {
                            document.getElementById("iNuevo").style.visibility = "visible";
                        }
                    }
                }
            }
        }
    });
</script>
}