@model WebAdmin.Models.TblCompra

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Administración /</span> Compra</h4>
    <!-- Basic with Icons -->
    <div class="col-xxl">
        <div class="card mb-8">
            
            <div class="card-body">
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoCompraDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoCompraDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreUsuarioCompra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreUsuarioCompra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCompra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaCompra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FolioCompra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FolioCompra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompraDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompraDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEstatusRegistro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEstatusRegistro)
        </dd>

    </dl>
    
    <form asp-action="Delete">
        <input spellcheck="true" type="hidden" asp-for="IdCompra" />
         <input spellcheck="true" type="submit" value="Desactivar" class="btn btn-danger" />
                    <a asp-action="Index" class="btn btn-secondary">Regresar</a>
                </form>
            </div>
        </div>
    </div>
</div>
