@model IEnumerable<WebAdmin.Models.CatTipoContratacion>

    @{
    ViewData["Title"] = "Estatus";
    Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Catálogos /</span> Tipos de Contrataciones</h4>
        <div class="card">
            <h5 class="card-header"><a type="submit" class="btn btn-outline-primary" asp-action="Create"><i
                        class="fas fa-plus"></i> Nuevo</a></h5>
            <div class="table-responsive text-nowrap">
                <table class="display compact" >
                    <thead>
                        <tr>
                            <th style="text-align:center">
                                @Html.DisplayNameFor(model => model.TipoContratacionDesc)
                            </th>
                            <th style="text-align:center">
                                @Html.DisplayNameFor(model => model.FechaRegistro)
                            </th>
                            <th style="text-align:center">
                                @Html.DisplayNameFor(model => model.IdEstatusRegistro)
                            </th>
                            <th style="text-align:center">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td style="text-align:center">
                                @Html.DisplayFor(modelItem => item.TipoContratacionDesc)
                            </td>
                            <td style="text-align:center">
                                @Html.DisplayFor(modelItem => item.FechaRegistro)
                            </td>
                            <td style="text-align:center">
                                @if (item.IdEstatusRegistro == 1)
                                {
                                <i class="fas fa-check-circle" style="font-size: 1em; color: green;"></i>
                                }
                                else
                                {
                                <i class="fas fa-stop-circle" style="font-size: 1em; color: red;"></i>
                                }
                            </td>
                            <td style="text-align:center">
                                <a class="btn rounded-pill btn-icon btn-outline-secondary" asp-action="Edit"
                                    asp-route-id="@item.IdTipoContratacion">
                                    <span class="tf-icons bx bx-edit" style="color: #FFC300;"></span>
                                </a>
                                <a class="btn rounded-pill btn-icon btn-outline-secondary" asp-action="Details"
                                    asp-route-id="@item.IdTipoContratacion">
                                    <span class="tf-icons bx bx-list-check" style="color: #67C5C4;"></span>
                                </a>
                                <a class="btn rounded-pill btn-icon btn-outline-secondary" asp-action="Delete"
                                    asp-route-id="@item.IdTipoContratacion">
                                    <span class="tf-icons bx bx-block" style="color: #FF9333;"></span>
                                </a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    @section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
    <script type="text/javascript">
        $(document).ready(function () {

            $('#tblProductos').DataTable();

            var vEstatusFlag = '@ViewBag.EstatusFlag'
            var vEmpresaFlag = '@ViewBag.EmpresaFlag'
            var vCorporativo = '@ViewBag.CorporativoFlag'


            if (vEstatusFlag == 0) {
                document.getElementById("iNuevo").style.visibility = "hidden";
            }
            else {
                if (vEmpresaFlag == 0) {
                    document.getElementById("iNuevo").style.visibility = "hidden";
                }
                else {
                    if (vCorporativo == 0) {
                        document.getElementById("iNuevo").style.visibility = "hidden";
                    }
                    else {
                        document.getElementById("iNuevo").style.visibility = "visible";
                    }
                }
            }
        });
    </script>
    }
    }